{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        
        <div class="col-9">
            {{ calendar }}
        </div>
        
        <div class="col-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-success" href="{% url 'v2_interface:create-pickup' %}">Create One Time Pick Up</a>
                    <a class="btn btn-success mt-3" href="{% url 'v2_interface:create-recurring-pickup' %}">Create Recurring Pick Up</a>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}