
{% block content %}
<h2 class="text-center">Completed Pick ups</h2>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Bin Type</th>
            <th scope="col">Total Pounds</th>
            <th scope="col">Completed Pick Ups</th>
            <th scope="col">Pick Up Dates</th>
        </tr>
        </thead>
        <tbody>
            {% for bin_data in bin_type_data %}
            <tr>
                <td>{{ bin_data.bin_type__name }}</td>
                <td>{{ bin_data.total_pounds }}</td>
                <td>{{ bin_data.completed }}</td>
                <td><a href="{% url 'v2_interface:dashboard-pickup-dates' bin_data.bin_type__id %}">View Pick Ups</a></td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table>
</div>
{% endblock content %}