{% extends "_basev1.html" %}


{% block content %}
<h2>Welcome {{user.username}}. Here are your scheduled pickups.</h2>
<a class="btn btn-success" href="{% url 'waste_bins:create-pick-up' %}"> Create new pick up</a>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Bin type</th>
            <th scope="col">Date</th>
            <th scope="col">Weight (lbs)</th>
            <th scope="col">Completed</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
            {% for pick_up in user_pick_ups %}
                <tr>
                    <td>{{ pick_up.bin_type.name }}</td>
                    <td>{{ pick_up.scheduled_date }}</td>
                    <td>{{ pick_up.weight }} </td>
                    <td>{{ pick_up.completed }}</td>
                    <td><a class="btn btn-warning" href="{% url 'waste_bins:edit-pick-up' pick_up.id %}">Edit</a><a class="btn btn-danger" href="{% url 'waste_bins:delete-pick-up' pick_up.id %}">Delete</a></td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}